*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(29, 29, 58);
}
.container{
    width: 100%;
    background-color: rgb(29, 29, 58);
    
}
.home{
height: 100vh;
background-color: rgb(29, 29, 58);
}
.sub-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-template-areas: "lg lg nav nav nav nav nav nav nav nav"
                         "ic ic ic ic ic ic ic ic ic ic"
                         "ic ic ic ic ic ic ic ic ic ic"
                         "nam nam nam nam nam nam ph ph ph ph"
                         "nam nam nam nam nam nam ph ph ph ph"
                         "pa pa pa pa pa pa ph ph ph ph"
                         "pa pa pa pa pa pa ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph";
}
.logo{
    width: 100vh;
    position: fixed;
    grid-area: lg;
    display: flex;
    padding: 25px;
    justify-content: start;
    align-items: center;
    color: white;


}
.logo h2{
    font-size: 20px;
}
.home1{
    width: 100%;
    position: fixed;
    grid-area: nav; 

   
}
.navigation{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.navigation > ul {
display: flex;
}
.navigation ul li{
    list-style: none;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation:hover{
    color: brown;
}
.icons{

    grid-area: ic;
    display: flex; 
    justify-content: start;
    align-items: center;
   
}

.icons i{
    background-color: rgb(24, 24, 36);
    font-size: 2rem;
    color: white;
    padding:10px;
    margin-left: 60px;
    border-radius: 100%;
    border: 3px solid rgb(163, 39, 39);
}
i:hover{
    background-color: rgb(163, 39, 39);
}

.name{
    grid-area: nam;
}
.name h2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px;
    color: white;
    font-size: 25px;
}
.paragraph{
    grid-area: pa;
}
.paragraph p{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.photo{

    grid-area: ph;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypic{
    padding: 2px;
    height: 400px;
    width: 400px;
}
.buttons{

    grid-area: bu;
    display: flex;
    padding: 60px;

}

.port{
    background-color: rgb(19, 19, 51);
    color: white;
    height: 60px;
    width: 150px;
    border-radius:60px ;
    border-style: none;
    border: 3px solid rgb(187, 100, 100);;
}
.youtube{
    background-color: rgb(187, 100, 100);
    color: white;
    height: 60px;
    width: 150px;
    border-radius:60px ;
    margin-left:190px ;
    border-style: none;
}
#service{
    background-color: rgb(29, 29, 58);
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "serve serve serve serve serve serve"
                        "myserve myserve myserve myserve myserve myserve"
                        "par par par par par par  "
                        "line line line line line line  "
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect";
     grid-template-rows:(8,1fr)
    } 
    .serve{
        grid-area: serve;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(192, 64, 64);
    }
    .myserve{
        grid-area: myserve;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .par{
        grid-area: par;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .line{
        grid-area: line;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rect{
    
        display: grid;
        grid-area: rect;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6";
        grid-gap: 20px;
        padding: 20px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    .rect i{
        background-color: rgb(160, 50, 50);
        font-size: 2rem;
        color: white;
        padding:10px;
        margin-left: 60px;
        border-radius: 100%;
    }
    .rect i:hover{
        transition:0.5s;
    }
    .rect1{
        background-color: rgb(31, 25, 46);
        grid-area:re1 ;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
        transition: 0.5s;
    }
    .rect1:hover{
        background-color: brown;
    }
    .rect2{
        background-color: rgb(31, 25, 46);
        grid-area: re2;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect2:hover{
        background-color: brown;
    }
    .rect3{
        background-color:rgb(31, 25, 46);
        grid-area: re3;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect3:hover{
        background-color: brown;
    }
    .rect4{
        background-color: rgb(31, 25, 46);
        grid-area: re4;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect4:hover{
        background-color: brown;
    }
    .rect5{
        background-color: rgb(31, 25, 46);
        grid-area: re5;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect5:hover{
        background-color: brown;
    }
    .rect6{
        background-color: rgb(31, 25, 46);
        grid-area: re6;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect6:hover{
        background-color: brown;
    }
    #about{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "ab ab ab ab ab ab ab ab ab ab"
                             "pa pa pa pa pa pa pa pa pa pa"
                             "ln ln ln ln ln ln ln ln ln ln"
                             "hi hi hi hi hi hi hi hi hi hi"
                             "pi pi pi pi wo wo wo wo wo wo"
                             "pi pi pi pi wo wo wo wo wo wo"
                             "pi pi pi pi na na na ph ph ph"
                             "pi pi pi pi em em em lin lin lin"
                             "pi pi pi pi cv cv cv cv cv cv"
                             "pi pi pi pi cv cv cv cv cv cv";
    }
    .abou{
        grid-area: ab;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .para{
        grid-area: pa;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .ln{
        grid-area: ln;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hi{
        grid-area: hi;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pic{
        grid-area: pi; 
        display: flex;
        justify-content: center; 
    }
    .pic img{
        height: 100%;
        width: 60%;
    }
    .words{
        grid-area: wo;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        padding: 20px;
    }
    .nam{
        grid-area: na;
        display: flex;
        padding: 10px;
    }
    .nam h2{
        color: brown;
    }
    .nam p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .phone{
        grid-area: ph;
        display: flex;
        padding: 10px;
    }
    .phone h2{
        color: brown;
    }
    .phone p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .email{
        grid-area: em;
        display: flex;
        padding: 10px;
    }
    .email h2{
        color: brown;
    }
    .email p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .linkdin{
        grid-area: lin;
        display: flex;
        padding: 10px;
    }
    .linkdin h2{
        color: brown;
    }
    .cv{
        grid-area: cv;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.cv button{
    height: 3rem;
    width: 8rem;
    background-color: brown;
    color: white;
    border-radius: 20px;
    border-style: none;
}

#skills{
    background-color: rgb(18, 18, 66);
    display:grid;
    width:100%;
    height: 140vh;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "exp exp exp exp exp exp"
                         "let let let let let let"
                         "let let let js js js"
                         "let let let pyt pyt pyt"
                         "pp pp pp lar lar lar"
                         "pp pp pp seo seo seo"
                         "hire hire hire hire hire hire";
    grid-template-rows:repeat(7,1fr);   
}
.exp{
    background-color: aqua;
    grid-area: exp;
}
.let{
    background-color: blueviolet;
    grid-area: let;
}
.js{
    background-color: brown;
    grid-area: js;
}
.pyt{
    background-color: blue;
    grid-area: pyt;
}
.pp{
    background-color: aqua;
    grid-area: pp;
}
.seo{
    background-color: blueviolet;
    grid-area: seo;
}
.hire{
    background-color: brown;
    grid-area: hire;
}

#portfolio{
    background-color: rgb(15, 15, 73);
    width:100%;
    height: 140vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-areas:    "por por por por por por por "
                            "sho sho sho sho sho sho sho "
                            "pr pr pr pr pr pr pr  "
                            "lg lg lg lg lg lg lg  "
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt"
                            "pt  pt  pt pt pt pt pt";
     grid-template-rows:repeat(13,1fr)                                               
}


 .por{
    grid-area: por;
}
.por h1{
 color: white;
 font-size: 30px;
 font-family: 'Courier New', Courier, monospace;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
}
.sho{
    grid-area: sho;
}
.sho h1{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.pr{
    grid-area: pr;
}
.pr p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.pr hr{
    display:flex ;
    justify-content: center;
    margin-left: 600px;
    margin-top: 20px;
}
.lg{
    grid-area: lg;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg button{
    width: 110px;
    height: 50px;
    border-style: none;
    display: start;
    border-radius: 10px;
    border: 3px solid rgb(184, 79, 79);
    background-color: rgb(19, 19, 85);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
.lg button:hover{
    color: rgb(228, 80, 87); 
    background-color: brown;
} 
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    padding: 30px;
}
li:hover{
    color: brown;
    background-color: brown;
    border-radius: 100%;
}
.pt{
display: grid;
grid-area: pt;
background-color: rgb(4, 4, 56);
grid-template-columns: repeat(7,1fr);
grid-template-rows:repeat(9,1fr) ;
grid-template-areas: "pt1 pt1 pt2 pt2 pt2 pt3 pt3"
                     "pt1 pt1 pt2 pt2 pt2 pt3 pt3"
                     "pt1 pt1 pt2 pt2 pt2 pt3 pt3"
                     "pt4 pt4 pt2 pt2 pt2 pt6 pt6"
                     "pt4 pt4 pt5 pt5 pt5 pt6 pt6"
                     "pt7 pt7 pt5 pt5 pt5 pt6 pt6"
                     "pt7 pt7 pt5 pt5 pt5 pt6 pt6"
                     "pt7 pt7 pt5 pt5 pt5 pt8 pt8"
                     "pt7 pt7 pt5 pt5 pt5 pt8 pt8";
                    }
.pt1{
    background-color: black;
    grid-area: pt1;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}
.pt2{
    grid-area: pt2;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}.pt2 img{
    width: 100%;
    height: 10%px;
}
.pt3{
grid-area: pt3;
display: flex;
justify-content: center;
border-radius: 20px;
padding: 20px;
margin-left: 20px;
}
.pt3 img{
    width: 100%;
    height: 100%;
}
.pt4{
    grid-area: pt4;
    background-color: rgb(58, 48, 48);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}
.pt5{
    grid-area: pt5;
   border-radius: 20px;
   padding: 20px; 
   display: flex;
    justify-content: center; 
    margin-left: 20px;
}
.pt5 img{
    width: 100%;
    height: 100%;
}

.pt6{
    grid-area: pt6;
    background-color:rgb(134, 133, 123) ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
 
}
.pt7{
    grid-area: pt7;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;

}
.pt7 img{
    width: 100%;
    height: 100%;
}
.pt8{
    grid-area: pt8;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.pt8 img{
    width: 100%;
    height: 100%;  
}
#contact{
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-areas:  "any any any any any any "
                          "cont cont cont cont cont cont"
                          "prg prg prg prg prg prg"
                          "lgn lgn lgn lgn lgn lgn"
                          "locate locate call call get get"
                          "locate locate call call get get"
                          "yourN yourN yourN yourE yourE yourE"
                          "yourS yourS yourS yourS yourS yourS"
                          "yourM yourM yourM yourM yourM yourM"
                          "send send send send send send";
    grid-template-rows: repeat(10,1fr);
                         
}
.any{
    grid-area: any;
}
.any h5{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cont{
    grid-area: cont;
}
.cont h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
}
.prg{
    grid-area: prg;
}
.prg p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px; 
    font-family: 'Courier New', Courier, monospace;
}
.lgn{
    grid-area: lgn;
     display: flex;
     justify-content: center;
     align-items: center;
}
.locate{
    grid-area: locate;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 50px;
    border-radius: 20px;
}
.locate p{
   
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.locate i{
    width: 5rem;
    color: brown;
  
}
.call{
    grid-area: call;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 40px;
    border-radius: 20px;
}
.call p{
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;  
}
.get{
    grid-area: get;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 40px;
    border-radius: 20px;
}
.get p{
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace; 
}
.yourN{
    grid-area: yourN;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px; 
    border-radius: 20px;
}
.yourE{
    grid-area: yourE;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px; 
    border-radius: 20px;
}
.yourS{
    grid-area: yourS;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px; 
    border-radius: 20px;
}
.yourM{
    grid-area: yourM;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;  
}
.send{
    grid-area: send;
}
.send button{
    width: 150px;
    height: 60px;
    padding: 20px; 
    border-radius: 10px;
    margin-left: 30px;
    color: white;
    background-color: brown;
    border: 3px solid rgb(148, 76, 76);
    border-style: none;
}
.send i{
    font-size: 2rem;
    color: white;
    padding:10px;
    margin-left: 60px;
    border-radius: 100%;
}
.container h3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.container p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;  
}
.container h5{
    color: brown;
}



 
















                  