*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(29, 29, 58);
}
.container{
    width: 100%;
    background-color: rgb(29, 29, 58);
}
.home{
height: 100vh;
background-color: rgb(29, 29, 58);
}
.sub-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-template-areas: "lg lg nav nav nav nav nav nav nav nav"
                         "ic ic ic ic ic ic ic ic ic ic"
                         "ic ic ic ic ic ic ic ic ic ic"
                         "nam nam nam nam nam nam ph ph ph ph"
                         "nam nam nam nam nam nam ph ph ph ph"
                         "pa pa pa pa pa pa ph ph ph ph"
                         "pa pa pa pa pa pa ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph"
                         "bu bu bu bu bu bu ph ph ph ph";
}
.logo{
    width: 100vh;
    position: fixed;
    grid-area: lg;
    display: flex;
    padding: 25px;
    justify-content: start;
    align-items: center;
    color: white;


}
.logo h2{
    font-size: 20px;
}
.home1{
    width: 100%;
    position: fixed;
    grid-area: nav; 

   
}
.navigation{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    color: white;
}
.navigation > ul {
display: flex;
}
.navigation ul li{
    list-style: none;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{

    grid-area: ic;
    display: flex; 
    justify-content: start;
    align-items: center;
   
}

.icons i{
    background-color: rgb(24, 24, 36);
    font-size: 2rem;
    color: white;
    padding:10px;
    margin-left: 60px;
    border-radius: 100%;
    border: 3px solid rgb(163, 39, 39);
}
i:hover{
    background-color: rgb(163, 39, 39);
}

.name{
    grid-area: nam;
}
.name h2{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px;
    color: white;
    font-size: 25px;
}
.paragraph{
    grid-area: pa;
}
.paragraph p{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.photo{

    grid-area: ph;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypic{
    padding: 2px;
    height: 400px;
    width: 400px;
}
.buttons{

    grid-area: bu;
    display: flex;
    padding: 60px;

}

.port{
    background-color: rgb(19, 19, 51);
    color: white;
    height: 60px;
    width: 150px;
    border-radius:60px ;
    border-style: none;
    border: 3px solid rgb(187, 100, 100);;
}
.youtube{
    background-color: rgb(187, 100, 100);
    color: white;
    height: 60px;
    width: 150px;
    border-radius:60px ;
    margin-left:190px ;
    border-style: none;
}
#service{
    background-color: rgb(29, 29, 58);
    width: 100%;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "serve serve serve serve serve serve"
                        "myserve myserve myserve myserve myserve myserve"
                        "par par par par par par  "
                        "line line line line line line  "
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect"
                        "rect rect rect rect rect rect";
     grid-template-rows:(8,1fr)
    } 
    .serve{
        grid-area: serve;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(192, 64, 64);
    }
    .myserve{
        grid-area: myserve;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .par{
        grid-area: par;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .line{
        grid-area: line;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rect{
    
        display: grid;
        grid-area: rect;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re1 re1 re1 re2 re2 re2 re3 re3 re3"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6"
                             "re4 re4 re4 re5 re5 re5 re6 re6 re6";
        grid-gap: 20px;
        padding: 20px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    .rect i{
        background-color: rgb(160, 50, 50);
        font-size: 2rem;
        color: white;
        padding:10px;
        margin-left: 60px;
        border-radius: 100%;
    }
    .rect i:hover{
        transition:0.5s;
    }
    .rect1{
        background-color: rgb(31, 25, 46);
        grid-area:re1 ;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
        transition: 0.5s;
    }
    .rect1:hover{
        background-color: brown;
    }
    .rect2{
        background-color: rgb(31, 25, 46);
        grid-area: re2;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect2:hover{
        background-color: brown;
    }
    .rect3{
        background-color:rgb(31, 25, 46);
        grid-area: re3;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect3:hover{
        background-color: brown;
    }
    .rect4{
        background-color: rgb(31, 25, 46);
        grid-area: re4;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect4:hover{
        background-color: brown;
    }
    .rect5{
        background-color: rgb(31, 25, 46);
        grid-area: re5;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect5:hover{
        background-color: brown;
    }
    .rect6{
        background-color: rgb(31, 25, 46);
        grid-area: re6;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }
    .rect6:hover{
        background-color: brown;
    }
    #about{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns:repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "ab ab ab ab ab ab ab ab ab ab"
                             "pa pa pa pa pa pa pa pa pa pa"
                             "ln ln ln ln ln ln ln ln ln ln"
                             "hi hi hi hi hi hi hi hi hi hi"
                             "pi pi pi pi wo wo wo wo wo wo"
                             "pi pi pi pi wo wo wo wo wo wo"
                             "pi pi pi pi na na na ph ph ph"
                             "pi pi pi pi em em em lin lin lin"
                             "pi pi pi pi cv cv cv cv cv cv"
                             "pi pi pi pi cv cv cv cv cv cv";
    }
    .abou{
        grid-area: ab;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .para{
        grid-area: pa;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .ln{
        grid-area: ln;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hi{
        grid-area: hi;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pic{
        grid-area: pi; 
        display: flex;
        justify-content: center; 
    }
    .pic img{
        height: 100%;
        width: 60%;
    }
    .words{
        grid-area: wo;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        padding: 20px;
    }
    .nam{
        grid-area: na;
        display: flex;
        padding: 10px;
    }
    .nam h2{
        color: brown;
    }
    .nam p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .phone{
        grid-area: ph;
        display: flex;
        padding: 10px;
    }
    .phone h2{
        color: brown;
    }
    .phone p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .email{
        grid-area: em;
        display: flex;
        padding: 10px;
    }
    .email h2{
        color: brown;
    }
    .email p{
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }
    .linkdin{
        grid-area: lin;
        display: flex;
        padding: 10px;
    }
    .linkdin h2{
        color: brown;
    }
    .cv{
        grid-area: cv;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.cv button{
    height: 3rem;
    width: 8rem;
    background-color: brown;
    color: white;
    border-radius: 20px;
 border-style: none;
}
#portfolio{
    background-color: rgb(15, 15, 73);
    width:100%;
    height: 140vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-areas:    "por por por por por por por "
                            "sho sho sho sho sho sho sho "
                            "pr pr pr pr pr pr pr  "
                            "lg lg lg lg lg lg lg  "
                            "pt1 pt1  pt2 pt2 pt2  pt3 pt3"
                            "pt1 pt1  pt2 pt2 pt2  pt3 pt3 "
                            "pt1 pt1  pt2 pt2 pt2  pt3 pt3"
                            "pt4 pt4  pt2 pt2 pt2  pt6 pt6"
                            "pt4 pt4  pt2 pt2 pt2  pt6 pt6 "
                            "pt4 pt4  pt5 pt5 pt5  pt6 pt6 "
                            "pt7 pt7  pt5 pt5 pt5  pt6 pt6" 
                            "pt7 pt7  pt5 pt5 pt5  pt8 pt8"
                            "pt7 pt7  pt5 pt5 pt5  pt8 pt8 ";
     grid-template-rows:repeat(13,1fr)                                               
}
.por{
    grid-area: por;
}
.por h1{
 color: white;
 font-size: 30px;
 font-family: 'Courier New', Courier, monospace;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px;
}
.sho{
    grid-area: sho;
}
.sho h1{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.pr{
    grid-area: pr;
}
.pr p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.pr hr{
    display:flex ;
    justify-content: center;
    margin-left: 600px;
    margin-top: 20px;
}
.lg{
    grid-area: lg;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg h5{
    color: white;
    font-size: 20px;
    display: flex;
    padding: 30px;
}
.lg h5:hover{
    color: brown;
}
.lg button{
    width: 100px;
    height: 40px;
    border-style: none;
    display: start;
    border-radius: 10px;
    border: 3px solid rgb(184, 79, 79);
    background-color: rgb(19, 19, 85);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.lg button:hover{
    color: rgb(228, 80, 87);
}
.pt1{
    background-color: blueviolet;
    grid-area: pt1;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt2{
    grid-area: pt2;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt2 img{
    width: 100%;
    height: 100vh;
}
.pt3{
    grid-area: pt3;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt4{
    grid-area: pt4;
    background-color: rgb(58, 48, 48);
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt5{
    grid-area: pt5;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
   
}
.pt5 img{
    width: 100%;
    height: 100vh;
}
.pt6{
    grid-area: pt6;
    background-color:rgb(134, 133, 123) ;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt7{
    grid-area: pt7;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.pt8{
    grid-area: pt8;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
#contact{
    background-color: rgb(6, 6, 82);
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-areas:  "any any any any any any "
                          "cont cont cont cont cont cont"
                          "prg prg prg prg prg prg"
                          "lgn lgn lgn lgn lgn lgn"
                          "locate locate call call get get"
                          "locate locate call call get get"
                          "yourN yourN yourN yourE yourE yourE"
                          "yourS yourS yourS yourS yourS yourS"
                          "yourM yourM yourM yourM yourM yourM"
                          "send send send send send send";
    grid-template-rows: repeat(10,1fr);
                         
}
.any{
    background-color: blueviolet;
    grid-area: any;
}
.cont{
    background-color: rgb(43, 226, 52);
    grid-area: cont;
}
.prg{
    background-color: rgb(61, 43, 226);
    grid-area: prg;
}
.lgn{
    background-color: rgb(226, 43, 134);
    grid-area: lgn;
}
.locate{
    background-color: rgb(43, 137, 226);
    grid-area: locate;
}
.call{
    background-color: rgb(226, 131, 43);
    grid-area: call;
}
.get{
    background-color: blueviolet;
    grid-area: get;
}
.yourN{
    background-color: rgb(174, 43, 226);
    grid-area: yourN;
}
.yourE{
    background-color: rgb(55, 43, 226);
    grid-area: yourE;
}
.yourS{
    background-color: rgb(226, 43, 119);
    grid-area: yourS;
}
.yourM{
    background-color: rgb(43, 226, 98);
    grid-area: yourM;
}
.send{
    background-color: aqua;
    grid-area: send;
}




















                  