*{
    margin: 0;
    padding: 0;
}
body{
background-color:#1C1B3A ;
}
#home{
    display: grid;
    height:100vh;
    width:100%;
    background-color: rgb(29, 4, 68);
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: "navigation navigation navigation navigation navigation navigation navigation navigation"
                         "plugins plugins plugins plugins plugins plugins plugins plugins "
                         "plugins plugins plugins plugins plugins plugins plugins plugins "
                         "name name name name  name image image image"
                         "name name name name  name image image image"
                         "paragraph paragraph paragraph paragraph paragraph image image image "
                         "butt butt butt butt butt image image image"
                         "butt butt butt butt butt image image image";
 grid-template-rows:repeat(8,1fr);
} 
.navigation{
    background-color: rgb(35, 9, 100);
    grid-area: navigation;
    color: antiquewhite;
    display: flex;
    position: fixed; 
    width: 100%;  
    height: 14%;
}
.box1{
    width: 10%;
    list-style: none;
}
p{
    color: antiquewhite;
    font-size: 15px;
    list-style: none;
    padding-top: 25px;
    margin-left: 30px;
}
.box2{
    width: 90%;
}
ul{
    display: flex;
    margin-left: 300px;
    padding-left: 5vh;
    color: antiquewhite;
    
}
li{
    list-style: none;
    margin-left: 60px;
    padding-top: 25px;
    color: rgb(245, 242, 237);
}
.plugins{
    background-color: rgb(226, 43, 134);
    grid-area: plugins;
}
.image{
    grid-area: image;
}
.name{
    grid-area: name;       
}
.box3{
    margin-top: 5vh;
}
p1{
    color: antiquewhite;
    font-size: 40px;
    margin-left: 50px;
}
.paragraph{
    grid-area: paragraph;
    color: antiquewhite;
    font-size: 20px;
    text-align: justify; 
    line-height: normal; 
}
.box4{
    margin-left: 50px;
    padding-bottom: 7vh;
}
.butt{
    grid-area: butt;
}
button{
    width:200px;
    height: 70px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: rgb(206, 45, 45);
    border-color: rgb(211, 60, 60);
    color: antiquewhite;
}
button:hover{
background-color: blueviolet;
}
#services{
background-color: blue;
width: 100%;
height: 100vh;
}
.image>img{
    width:90%;
    height: 90%;
}
#services{
    background-color: #1C1B3A;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "serve serve serve serve serve serve"
                         "myService myService myService myService myService myService "
                         "parag parag parag parag parag parag"
                         "rect1 rect1 rect2 rect2 rect3 rect3"
                         "rect1 rect1 rect2 rect2 rect3 rect3"
                         "rect4 rect4 rect5 rect5 rect6 rect6" 
                         "rect4 rect4 rect5 rect5 rect6 rect6";
    grid-template-rows:repeat(7,1fr)
}
.serve{
    grid-area: serve;
    display: flex;  
}
p2{
    color: aliceblue;
    display: flex;
    margin-left: 49%;
    margin-top: 70px;
}
.myService{
    background-color: aqua;
    grid-area: myservice;
    display: flex;
}
p3{
    color: aliceblue;
    display: flex;
    margin-left: 49%;
    margin-bottom: 70px;
}
.parag{
    background-color: blueviolet;
    grid-area: parag;
}
.rect1{
    background-color: blue;
    grid-area: rect1;
    border-radius: 20px;
}
.rect2{
    background-color: bisque;
    grid-area: rect2;
    border-radius: 20px;

}
.rect3{
    background-color: #1C1B3A;
    grid-area: rect3;
    border-radius: 20px;
}
.rect4{
    background-color: aqua;
    grid-area: rect4;
    border-radius: 20px;
}
.rect5{
    background-color: blue;
    grid-area: rect5;
    border-radius: 20px;
}
.rect6{
    background-color: blueviolet;
    grid-area: rect6;
    border-radius: 20px;
}





